<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>homepage-customer</title>
		<link rel="stylesheet"  href="css/homepage.css"/>
		<link rel="stylesheet"  href="css/login.css"/>
	</head>
	<body>
		<div id="wrapper">
			<div class= "header">
				<div class="logo">Elderly Health Management System</div>
				<div class="nav">
					<a href="homepage-customer.html">HomePage</a>
					<a href="TomProfile.html">Profile</a>
					<a href="doctorInfo.html">DoctorInfo</a>					
					<a href="appointment.html">Appointment</a>
					<a href="diagnoses.html">Diagnoses</a>
				  <a class="login" href="login.html">Logout</a>	
				</div>
			</div>
		
			<div class= "content">
				</br></br>
				<p style="text-align: center;font-size:40px;color:black"><strong> Welcome Tom</strong></p>
			</div>
	
			<div style="text-align: center;">
				<img style="margin: 0 auto;" src="img/home1.jpg"/>
			</div>
			
			<div class="LoginFooter">
				漏 2020 Copyright:
				<a href="homepage-customer.html"> Elderly Health Management System</a>
			</div>
			
		</div>
	</body>
</html>
